:root {
  --blue-color: #0084FD;
  --viole-color: #9792E4;
}

/* RESERT  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* COMMON  */
body {
  font-family: "PT Sans", sans-serif;
}

/* Utilities  */
.inline-block {
  display: inline-block;
}

.disp-block {
  display: block;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.btn {
  background-color: white;
  padding: 10px 20px ;
  border-radius: 20px;
}

.mrg-25px {
  margin-top: 25px;
  margin-bottom: 25px;
}

.p-l-r-50px {
  padding-left: 50px;
  padding-right: 50px;
}

.bg-blue {
  background-color: var(--blue-color);
}

.bg-viole {
  background-color: var(--viole-color);
}

/* Layout  */
.container-big,
.container-small {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

}

/* HEADER  */
#header {
  background-color: var(--blue-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
}

.nav-list ul {
  gap: 20px;
  color: rgb(228, 227, 227);
}

.nav-list ul li:last-child {
  color: black;
}

.nav-list ul li:hover {
  border-bottom: 2px solid #6500fd;
  color: white;
}

.nav-list ul li:last-child:hover {
  border-bottom: 0;
  color: black;
}

.humburger-menu button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
}

@media screen and (min-width: 992px) {
  .container-big {
    width: 80%;
    max-width: 1100px;
  }

  .nav-list {
    display: block;
  }

  .humburger-menu {
    display: none;
  }
}

/* MAIN  */
main {
  padding-top: 100px;
}

/* HERO  */
#hero {
  padding-bottom: 50px;
}

#hero .hero-col {
  width: 100%;
  background-color: #B5DDFF;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
}

.header-card h3,
.header-card i {
  color: var(--blue-color);
  margin-bottom: 20px;
}

#hero h3 {
  font-size: 2rem;
}

#hero .header-card i {
  font-size: 3rem;
}

#hero .main-card div:last-child {
  position: relative;
  bottom: -20px;
}

.card-hero-img {
  width: 250px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  #hero .hero-col {
    margin-bottom: 0;
  }

  #hero .hero-col:first-child {
    width: calc(100% * 2/3 - 20px / 3);
  }

  #hero .hero-col {
    width: calc(100% / 3 - 40px / 3);
  }

  .card-hero-img {
  margin-left: 30px;
}
}

@media screen and (min-width: 992px) {
  .main-card {
    display: flex;
  }

  #hero .main-card div {
    width: 50%;
  }

}

/* STATEGIC PLANNING  */
#strategic-planning {
  background-color: #9792E4;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

#strategic-planning .stategic-col {
  width: 100%;
  margin-bottom: 20px;
}

#strategic-planning .stategic-col h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

#strategic-planning .stategic-col:last-child {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  color: black;
}

.stategic-col.text-center a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  .container-small {
    width: 70%;
    max-width: 900px;
  }

  #strategic-planning .container-small {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  #strategic-planning .stategic-col:first-child {
    width: 58%;
    margin-bottom: 0;
  }

  #strategic-planning .stategic-col:last-child {
    width: 40%;
    margin-bottom: 0;
  }
}

/* PARTNERS  */
#partners {
  padding-top: 40px;
  padding-bottom: 40px;
}

.partners-header {
  /* debug */
  height: 100px;
  background-color: aquamarine;
  border: 1px solid black;
}

#partners .partners-col {

  /* debug  */
  background-color: red;
  height: 200px;
  border: 1px solid black;
}

/* Benefit of working section */
#benefit {
  background-color: #9792E4;
  padding-top: 40px;
  padding-bottom: 40px;
}

#benefit h2 {
  text-align: center;
  margin-bottom: 20px;
}

#benefit .benefit-col {
  width: 100%;
  
  /* debug */
  background-color: burlywood;
  height: 200px;
  border: 1px solid black;
}

@media screen and (min-width: 768px) {
  .columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  #benefit .benefit-col {
    width: calc(50% - 20px / 2);
  }
}

@media screen and (min-width: 992px) {
  #benefit .benefit-col {
    width: calc(100% / 3 - 40px / 3);
  }
}

/* About us section */
#about-us {
  padding-top: 40px;
  padding-bottom: 40px;
}

#about-us .about-us-col {
  width: 100%;
  /* debug */
  height: 400px;
  background-color: darkslateblue;
  border: 1px solid black;
}

@media screen and (min-width: 768px) {
  #about-us {
    display: flex;
  }

  #about-us .about-us-col:first-child {
    width: 60%;
  }

  #about-us .about-us-col:last-child {
    width: 40%;
  }
}

@media screen and (min-width: 992px) {
  #about-us .about-us-col:first-child {
    width: 70%;
  }

  #about-us .about-us-col:last-child {
    width: 30%;
  }
}


/* CAll To Action */
#call-to-action {
  background-color: #9792E4;
}

#call-to-action div {
  /* debug  */
  height: 500px;
}

/* FOOTER  */
footer {
  background-color: #333333;

  /* debug */
  height: 400px;
}