:root {
  --blue-color: #0084FD;
  --lightblue-color: #B5DDFF;
  --viole-color: #9792E4;
  --white-color: white;
  --black-color: #333333;
}

/* RESERT  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* COMMON  */
body {
  font-family: "PT Sans", sans-serif;
}

/* Utilities  */
.inline-block {
  display: inline-block;
}

.disp-block {
  display: block;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-d-underline {
  text-decoration: underline;
}

.btn {
  background-color: var(--white-color);
  padding: 10px 20px ;
  border-radius: 20px;
}

.mrg-t-b-20px {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mrg-b-20px {
  margin-bottom: 20px;
}

.p-t-b-40px {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p-l-r-50px {
  padding-left: 50px;
  padding-right: 50px;
}

.bg-blue {
  background-color: var(--blue-color);
}

.bg-viole {
  background-color: var(--viole-color);
}

.color-viole {
  color: var(--viole-color);
}

.color-white {
  color: var(--white-color);
}

/* Layout  */
.container-big,
.container-small,
.container-smallest {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

}

/* HEADER  */
#header {
  background-color: var(--blue-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
}

.nav-list ul {
  gap: 20px;
  color: rgb(228, 227, 227);
}

.nav-list ul li:last-child {
  color: black;
}

.nav-list ul li:hover {
  border-bottom: 2px solid #6500fd;
  color: var(--white-color);
}

.nav-list ul li:last-child:hover {
  border-bottom: 0;
  color: black;
}

.humburger-menu button {
  background-color: transparent;
  border: none;
  color: var(--white-color);
  font-size: 2rem;
}

@media screen and (min-width: 992px) {
  .container-big {
    width: 80%;
    max-width: 1100px;
  }

  .nav-list {
    display: block;
  }

  .humburger-menu {
    display: none;
  }
}

/* MAIN  */
main {
  padding-top: 100px;
}

/* HERO  */
#hero {
  padding-bottom: 50px;
}

#hero .hero-col {
  width: 100%;
  background-color: var(--lightblue-color);
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
}

.header-card h3,
.header-card i {
  color: var(--blue-color);
  margin-bottom: 20px;
}

#hero h3 {
  font-size: 2rem;
}

#hero .header-card i {
  font-size: 3rem;
}

#hero .main-card div:last-child {
  position: relative;
  bottom: -20px;
}

.card-hero-img {
  width: 250px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  #hero .hero-col {
    margin-bottom: 0;
  }

  #hero .hero-col:first-child {
    width: calc(100% * 2/3 - 20px / 3);
  }

  #hero .hero-col {
    width: calc(100% / 3 - 40px / 3);
  }

  .card-hero-img {
  margin-left: 30px;
}
}

@media screen and (min-width: 992px) {
  .main-card {
    display: flex;
  }

  #hero .main-card div {
    width: 50%;
  }

}

/* STATEGIC PLANNING  */
#strategic-planning {
  background-color: var(--viole-color);
  color: var(--white-color);
}

#strategic-planning .stategic-col {
  width: 100%;
  margin-bottom: 20px;
}

#strategic-planning .stategic-col h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

#strategic-planning .stategic-col:last-child {
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 30px;
  color: black;
}

.stategic-col.text-center a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  .container-small {
    width: 70%;
    max-width: 900px;
  }

  #strategic-planning .container-small {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  #strategic-planning .stategic-col:first-child {
    width: 58%;
    margin-bottom: 0;
  }

  #strategic-planning .stategic-col:last-child {
    width: 40%;
    margin-bottom: 0;
  }
}

/* PARTNERS  */
#partners {
  text-align: center;
}

.partners-header,
.partners-header > * {
  margin-bottom: 20px;
}

.partners-header h2 {
  color: var(--viole-color);
  font-size: 2rem;
}

#partners .partners-col {
  background-color: var(--viole-color);
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 20px;
  color: var(--white-color);
}

#partners .partners-col .partners-img > *,
#partners .partners-col .partners-main-col > *{
  margin-bottom: 20px;
}

.img-profile-partners {
  width: 300px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  #partners .partners-col {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  #partners .partners-col .partners-img .img-profile-partners {
    width: 350px;
    aspect-ratio: 1;
    margin-bottom: 0;
  }

  #partners .partners-col .partners-main-col .name-partners{
    margin-bottom: 0;
  }
  
}

/* Benefit of working section */
#benefit {
  background-color: #9792E4;
}

#benefit .container-big > h2 {
  font-size: 4rem;
  color: var(--white-color);
  margin-bottom: 40px;
}

#benefit h2 {
  text-align: center;
  margin-bottom: 20px;
}

#benefit .benefit-col {
  width: 100%;
  background-color: var(--white-color);
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.header-benefit > *, 
.main-benefit p {
  margin-bottom: 20px;
}

.header-benefit {
  color: var(--viole-color);
}

.header-benefit span {
  font-size: 4rem;
  font-weight: 800;
}

.header-benefit h5 {
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  #benefit .benefit-col {
    width: calc(50% - 20px / 2);
  }

  #benefit .benefit-col {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  #benefit .benefit-col {
    width: calc(100% / 3 - 40px / 3);
  }
}

/* About us section */
#about-us .about-us-col {
  width: 100%;
}

#about-us .about-us-col:first-child > * {
  margin-bottom: 20px;
}

#about-us .about-title {
  color: var(--viole-color);
  font-size: 6rem;
}

.about-us-col .about-us-img {
  position: relative;
  width: 300px;
}

.about-picture {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}


.quote-left-absolute {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--viole-color);
  font-size: 5rem;
}

.about-us-col h4 {
  color: var(--viole-color);
  font-size: 1.5rem;
}


@media screen and (min-width: 768px) {
  #about-us {
    display: flex;
    justify-content: space-between;
  }

  #about-us .about-us-col:first-child {
    width: 58%;
  }

  #about-us .about-us-col:last-child {
    width: 38%;
  }

  .about-us-col .about-us-img {
    position: relative;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  #about-us .about-us-col:first-child {
    width: 68%;
  }

  #about-us .about-us-col:last-child {
    width: 28%;
  }
}


/* CAll To Action */
#call-to-action {
  background-color: var(--viole-color);
  color: var(--white-color);
}

#call-to-action h2 {
  font-size: 3rem;
}

#call-to-action em {
  font-style: normal;
  font-size: 4rem;
  font-weight: 900;
  color: #F4BD6B;
}

@media screen and (min-width: 768px) {
  .container-smallest {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .container-smallest {
    width: 60%;
    max-width: 600px;
  }
}


/* FOOTER  */
footer {
  background-color: var(--black-color);
  color: var(--viole-color);
}

footer p:first-child {
  margin-bottom: 40px;
}

footer p strong.color-viole {
  font-weight: 400;
  text-decoration: underline;
}